<h1>COMPANY-DETAILS</h1>

<!-- <div class="card mx-auto mt-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Nova Empresa</h5>
        <form [formGroup]="company">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome" formControlName="name">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="CNPJ" formControlName="cnpj">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Endereço" formControlName="address">
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Funcionários" formControlName="users">
            </div>
        </form>
        <div class="row">
            <button type="button" class="btn btn-danger col" (click)="cancel()">Cancelar</button>
        </div>
    </div>
</div> -->