<div class="row">
    <div class="card col m-5" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/images/employees.png" alt="Funcionários">
        <div class="card-body">
            <h5 class="card-title text-center">Lista de Funcionários</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <div class="text-center">
                <a href="/usuarios" class="btn btn-primary">Ver lista</a>
            </div>
        </div>
    </div>

    <div class="card col m-5" style="width: 18rem;">
        <img class="card-img-top" src="../../../../assets/images/companies.jpeg" alt="Empresas" height="120%">
        <div class="card-body">
            <h5 class="card-title text-center">Lista de Empresas</h5>
            <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            <div class="text-center">
                <a href="/empresas" class="btn btn-primary">Ver lista</a>
            </div>
        </div>
    </div>
</div>