<div class="card mx-auto mt-3" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{pageTitle}}</h5>
        <form [formGroup]="companyForm" (submit)="submitForm()"> 

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Nome" formControlName="name">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="CNPJ" formControlName="cnpj">
            </div>

            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Endereço" formControlName="address">
            </div>

            <div class="mb-3" *ngIf="currentAction == 'edit'">
                <ul *ngFor="let user of company.users">
                  <li>{{user.name}}</li>
                </ul>
              </div>

        </form>

        <button type="submit" class="btn btn-success" (click)="submitForm()">Salvar</button>
        <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar</button>
 
    </div>
</div>